h1{
  font-family: 装甲明朝;
  padding-left: 3%;
  padding-top: 2%;
  font-size: 50px;
  border-bottom: 5px solid #69c;
}

h1 span{
  color: rgb(177, 228, 100);
}

.numbers ol{
  font-size: 50px;
  line-height: 250px;
  padding-left: 6%;
  padding-top: 30%;
}

img{
  float: left;
}
