h1{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 50px;
    border-bottom: 5px solid #69c;
}

h1 span{
    color: rgb(177, 228, 100);
}

.picture{
    position: relative;
    background: rgba(101, 201, 201,0.5);
}

.picture p{
    position: absolute;
    top: 0;
    left: 50%;
    padding-top: 5%;
    font-size: 45px;
}

.numbers ol{
    padding-left: 7%;
}
