h1{
    padding-left: 3%;
    padding-top: 2%;
    font-size: 50px;
    border-bottom: 5px solid #69c;
}

h1 span{
    color: rgb(177, 228, 100);
}

.picture{
    background: rgba(101, 201, 201,0.5);
}

.picture p{
    float: right;
    padding-right: 40%;
    padding-top: 5%;
    font-size: 30px;
}

