.a{
  font-family: 装甲明朝;
  padding-left: 3%;
  padding-top: 2%;
  font-size: 50px;
  border-bottom: 5px solid #69c;
}

h1 span{
  color: rgb(177, 228, 100);
}

.numbers ol{
  font-size: 50px;
  line-height: 250px;
  padding-left: 10%;
  padding-top: 35%;
}

.message{
  position:relative;
}

.message p{
  position:absolute;
  top: 15%;
  left: 3%;
  
  font-size: 45px;
}
